.videoBox {
  position: relative;
  padding-bottom: 56.25%;
}
.iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.videoInfo {
  margin-top: 1em;
}
.infoTop {
  padding-bottom: 1.2em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.tag {
  padding-right: 0.5em;
  font-size: 0.75em;
  color: #3ea6ff;
}
.videoTitle {
  font-size: 1.125em;
}

.videoPrimary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.videoDetails {
  margin-top: 0.9em;
  font-size: 0.875em;
  color: #aaa;
}
.rightBox {
  display: flex;
  flex-direction: row;
}
.like {
  margin-right: 0.7em;
}
.thumbsUp,
.thumbsDown {
  margin-right: 0.3em;
  font-size: 1.125em;
  vertical-align: middle;
}
.likeCount,
.dislikeCount {
  font-size: 0.875em;
  vertical-align: middle;
}
.saveVideoBtn {
  background-color: transparent;
  color: #fff;
}
.infoDetails {
  padding: 0.5em 0;
}
.channelBox {
  display: flex;
  margin: 1em 0;
  flex-direction: row;
  align-items: center;
}
.logo {
  width: 3em;
  height: auto;
  margin-right: 1em;
  border-radius: 50%;
}
.subscriber {
  margin-top: 0.15em;
  font-size: 0.75em;
  color: #aaa;
}
.tags {
  margin-bottom: 1em;
}
.tags .tag {
  font-size: 0.875em;
}
.desc {
  line-height: 1.5;
}
