.item {
  box-sizing: border-box;
  cursor: pointer;
}
.item a {
  display: block;
  width: 100%;
  height: 100%;
}
.imgViewBox {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-bottom: 56%;
}
.img {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 100%;
  transform: translate(-50%, -50%);
}
.detailsBox {
  display: inline-flex;
  width: 100%;
  flex-direction: row;
}
.logoBox {
  flex: 1 1 14%;
  text-align: center;
}
.logo {
  display: inline-block;
  overflow: hidden;
  width: 2.25em;
  height: 2.25em;
  margin-right: 0.75em;
  border-radius: 50%;
}
.logoImage {
  width: 100%;
  height: 100%;
}
.infoBox {
  line-height: 1.4;
  color: #aaa;
  flex: 1 1 80%;
}
.title {
  overflow: hidden;
  margin-bottom: 0.25em;
  font-weight: 600;
  font-size: 1rem;
  color: #fff;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.channel {
  font-size: 0.875rem;
  align-self: #aaa;
}
.menuBox {
  flex: 1 1 4%;
  text-align: center;
}
.iconMenu {
  display: none;
  margin-top: 0.3em;
}
.item:hover .iconMenu {
  display: inline-block;
}

.grid {
  width: 25%;
  padding: 20px;
}
.grid .detailsBox {
  margin-top: 1em;
}
.list {
  width: 100%;
  margin: 0.5em 0;
}
.list a {
  display: flex;
  flex-direction: row;
}
.list .logoBox {
  display: none;
}
.list .imgBox {
  margin-right: 1em;
  flex: 1 1 40%;
}
.list .detailsBox {
  flex: 1 1 60%;
}
.list .infoBox {
  flex: 1 1 96%;
}
.list .title {
  font-size: 0.875em;
}
.list .channel {
  font-size: 0.75em;
}
