.item {
  box-sizing: border-box;
  cursor: pointer;
}
.link {
  display: block;
  width: 100%;
  height: 100%;
}
.thumbnail {
  overflow: hidden;
}
.viewBox {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}
.viewBox img {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 100%;
  transform: translate(-50%, -50%);
}
.videoInfo {
  display: inline-flex;
  width: 100%;
  flex-direction: row;
}
.logo {
  flex: 1 1 14%;
  text-align: center;
}
.logoImg {
  display: inline-block;
  overflow: hidden;
  width: 2.25em;
  height: 2.25em;
  margin-right: 0.75em;
  border-radius: 50%;
}
.logoImg img {
  width: 100%;
  height: 100%;
}
.info {
  line-height: 1.4;
  color: #aaa;
  flex: 1 1 80%;
}
.title h4 {
  overflow: hidden;
  margin-bottom: 0.25em;
  font-weight: 600;
  font-size: 1rem;
  color: #fff;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.meta {
  font-size: 0.875rem;
  color: #aaa;
}
.menu {
  flex: 1 1 4%;
  text-align: center;
}
.menu .icon {
  display: none;
  margin-top: 0.3em;
}
.item:hover .menu .icon {
  display: inline-block;
}

.grid {
  width: 320px;
  margin: 0.5em;
  margin-bottom: 40px;
  /* width: 25%; */
  /* padding: 20px; */
}
.grid .videoInfo {
  margin-top: 1em;
}
.list {
  width: 100%;
  margin: 0.5em 0;
}
.list a {
  display: flex;
  flex-direction: row;
}
.list .logo {
  display: none;
}
.list .thumbnail {
  max-width: 360px;
  min-width: 240px;
  margin-right: 1em;
  flex: 1 1 40%;
}
.list .videoInfo {
  flex: 1 1 60%;
}
.list .info {
  flex: 1 1 96%;
}
.list .title h4 {
  font-size: 0.875em;
}
.list .channel {
  font-size: 0.75em;
}

/* page : library */
.library {
  width: auto;
  margin: 0;
}
.library .logo {
  display: none;
}
.library .title h4 {
  font-size: 0.875rem;
}
.library .meta {
  font-size: 0.75rem;
}
