.watch {
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  max-width: 110rem;
}
.video {
  overflow: hidden;
  flex: 1 1 75%;
  padding: 1.5rem;
}
.list {
  overflow: hidden;
  flex: 0 0 25%;
  width: 25rem;
  padding: 1.5rem 1.5rem 1.5rem 0;
}
