.history {
  display: flex;
  overflow: auto;
  justify-content: center;
}
.container {
  width: 100%;
  max-width: 68.5rem;
  margin: 1.5rem;
}
.logout {
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
  text-align: center;
}
.title {
  width: 100%;
  margin-bottom: 3em;
}
.title h3 {
  font-weight: 400;
}
.desc {
  margin: 1.2em 0;
  font-size: 0.9.5rem;
}
.dayHistory {
  padding-bottom: 3em;
}
.dateTitle {
  margin-bottom: 1em;
}
