.searchBox {
  display: flex;
  padding: 0.5em 0;
  flex: 1 1 70%;
  justify-content: center;
}
.input {
  width: 570px;
  height: 40px;
  padding: 0 10px;
  background-color: #121212;
  border: 1px solid #303030;
  box-sizing: border-box;
  color: #fff;
}
.searchBtn {
  float: 1 1 64px;
  height: 40px;
  font-size: 20px;
  background-color: #313131;
  color: #fff;
}
