.list {
  overflow: auto;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.library {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem 0.25rem;
}
