.nav {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 15rem;
  height: 100%;
  background-color: #212121;
  z-index: 10;
}
nav .item {
  display: block;
  padding: 0 1.5em;
  line-height: 2.5em;
}
.icon {
  margin-right: 1.5em;
}
.text {
  font-size: 0.875rem;
}
.loginBox {
  padding: 2em 1.5em;
  margin-top: 1em;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.loginText {
  font-size: 0.9rem;
  margin-bottom: 1em;
}
